ul.menu, ul.menu ul {
	clear:left;
	list-style-type:none;
	margin:0;
	padding:0;
}

ul.menu a {
	display:block;
	text-decoration:none;
}

ul.horizontal-menu li {
	float:left;
}

ul.horizontal-menu li li {
    float:none;
}

ul.horizontal-menu li:first-child a, ul.horizontal-menu li.first-child a {
	border-left:none;
}

ul.horizontal-menu a {
	border-left:1px solid;
	padding:0 10px;
}

ul.horizontal-menu ul a {
	border-left:none;
}

ul.vertical-menu a {
	border-top:1px solid;
	padding-left:5px;
}

ul.popup-menu ul {
	left:-999em;
	position:absolute;
	z-index:1;
}

ul.popup-menu li:hover ul, ul.popup-menu li.menu-hover ul {
	left:auto;
}

ul.vertical-menu.popup-menu ul {
	margin-left:136px;	/* This should be the width of the vertical column (the top-level ul) including the border */
	margin-top:-25px;	/* This should be the -(line-height of top-level ul's links + top-border-width of top-level ul's links) */
}

ul.centered-menu {
   float:left;
   position:relative;
   left:50%;
   text-align:center;
}

ul.centered-menu li {
   display:block;
   float:left;
   position:relative;
   right:50%;
}
